/* streak commit */

/* streak commit */

@font-face {
    font-family: 'sans';
    src: url(./EncodeSansSemiExpanded-Medium.ttf);
}
@font-face {
    font-family: 'boldtext';
    src: url(./boldtext.ttf);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'sans';
}
/* 
#prepre{
    height: 100vh;
    width: 100vw;
    background-color: red;
    z-index: 99;
    transition: 3s ease;
    transform: translateY(-100%);
    
} */
#body{
    /* background-color: red; */
}
#preloader{
    background-color: white;
    overflow: hidden;
    width:100vw;
    height:120%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    /* transition-delay: 6s; */
    filter:blur(20px);
    transition: ease 0s;
    transform: translateY(0%);
    z-index:9;
    position: absolute;
    top:0;
}
#lander{
    transition-delay:2.5s;
    transition:ease 6s;
    z-index:1;
    position: absolute;
    top:0;
    background-color:white;
    height: 100vh;
    width: 100vw;
}
#nav{
    width:85vw;
    background-color: white;
    height:10vh;
    margin:auto;
    margin-top:3vh;
    border-radius: 4vw;
    z-index:500;
    box-shadow: 0px 0px 400px black;

}
.wrap{
        display: flex;
    align-items:center ;
    /* /* box-shadow: 1px 1px 20px black; */
    justify-content: space-between; 
    height:100%;
    width:100%;
}
.wrap .left{
    height:100%;
    display: flex;
    align-items: center;
    width:50%;
}
.wrap .right{
    height:100%;
    width:50%;
}
.wrap .right ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    font-family:'sans';
}
.wrap .left img{
    height:70%;
    padding-left:10px;
    border-radius: 500px;
    
}
#minmenu{
    display: none;
}
#clicker{
    border: 2px solid white;
    border-radius: 500px;
    width:60%;
    height:60%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor:pointer;
    
}
#clicker img{
    height:100%;
    width:100%;
}
#expanded{
    display: none;
}
#chotamenu{
    display:none;
}
#closer{
    display:none;
}
.major{
    width:86%;
    height:60vh;
    background-color: white;
    margin: auto;
    border-radius: 5vh;
    margin-top:10vh;
    display:flex;
    overflow: hidden;
    
}
.imgwrapper{
    height:100%;
    width:70vh;
    background-color: white;
    display: flex;
    overflow: hidden;
    border:20px solid white;
    border-radius: 5vh;
}
.wrapper{
    width:100%;
    display:flex;
    animation: slide 20s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    21%{
        transform: translateX(-160%);
    }
    41%{
        transform: translateX(-320%);
    }
    61%{
        transform: translateX(-480%);
    }
    81%{
        transform: translateX(-610%);
    }

}
.major .left2{
    width:50%;
    background-color: transparent;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.major .right2{
    width:50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgwrapper img{
    height:100%;
}
.animated-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    margin:auto;
    position:absolute;
    left:10vw;
}
.animated-text p{
    margin-top:5vh;
    height:fit-content;
    /* height:20px;
    width:fit-content;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif; */
    animation: parachange 20s infinite;
    /* position: absolute;
    left:20vw; */
}
.animated-text p::before{
    content: "Youtuber";
    /* color: #ff7f50; */
    animation: parachange 20s infinite;
}
.animated-text p::after{
    content: "";
    position: absolute;
    width:calc(100% + 8px);

    height: 40%;
    background-color: #ffff;
    border-left: 2px solid #ff5050;
    right: -8px;
    animation: cursor .8s infinite,typing 20s steps(12) infinite;
}


.animated-text span2{
    position: relative;
    color: transparent; 
    font-family: 'boldtext';
    font-size: 50px; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;
    font-weight: bolder;
}

.animated-text span2::before{
    content: "Youtuber";
    /* color: #ff7f50; */
    animation: words 20s infinite;
}

.animated-text span2::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);

    height: 110%;
    background-color: #ffff;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
#footer .lefter img{
    display:none;
 }
@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "Happy Birthday !";
    }
    21%,40%{
        content: "Hungry ?";
    }
    41%,60%{
        content: "December Date ?";
    }
    61%,80%{
        content: "Weather's Cold";
    }
    81%,100%{
        content: "Ghar Ka Khana ?";
    }
}
@keyframes parachange{
    0%,20%{
        content: "Celebrate Your Birthday With Us";
    }
    21%,40%{
        content: "Grab a Meal, not just a Snack";
    }
    41%,60%{
        content: "Initiate With Something Hot";
    }
    61%,80%{
        content: "Perfect For a Cappucino";
    }
    81%,100%{
        content: "We deal in Indian Delicacies";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
        height:calc(140);
    }
}
#footer{
    width:86%;
    /* background-color: rebeccapurple; */
    margin:auto;
    /* border: 1px solid black; */
    height:8vh;
    border-radius: 4vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top:2vh;
    color:white;
    font-size: 2vh;
}
#footer .lefter{
    background-color: white;
    width:18%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.lefter span{
    padding:7px;
    background-color:black;
    border-radius: 4vh;
}
#footer .righter{
    background-color: white;
    height: 100%;
    width:30%;
    display: FLEX;
    align-items: center;
    justify-content: center;
}
.righter span{
    background-color: black;
    padding:6px;
    border-radius: 4vh;
    width:20vw;
    text-align: center;
}

@media only screen and (max-width:600px) {
    #preloader .gify img{
        width:80vw;

    }
    #preloader{
        overflow: hidden;
    }
    #nav{
        width:96vw;
        overflow: hidden;
        justify-content: space-around;
    }
    #nav .right{
        /* background-color: red; */
        display: flex;
        width:20%;
        align-items: center;
        justify-content: center;
    }
    #nav .right ul{
        display: none;
    }
    #nav .right #minmenu{
        background-color:black;
        height: 75%;
        width:85%;
        border-radius: 500vw;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #expanded{
        display: inline-block;
        height:30vh;
        background-color:white;
        width:96vw;
        position: absolute;
        top:11.6vh;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 5vw 5vw;

    }
    #expanded ul{
        list-style: none;
        width:80%;
        margin:auto;

    }
    .expandedmenu{
        height:5vh;
        font-size: 3vh;
        font-family: 'sans';
        border-top:1px solid black;
        text-align: left;
        width:100%;
        padding:5px;
    }
    #chotamenu{
        background-color: chartreuse;
        width: 100%;
        /* display:none; */
        justify-content: center;
        transform: translateY(50px);
        z-index:999;
    }
    .major{
        display: inline-block;
        /* background-color: transparent; */
        height:70vh;

        width:100%;
        /* background-color: #ff7f50; */
        margin-top:20vh;
    }
    .major .left2{
        width:100vw;
        background-color:transparent;
        height:30vh;
    }
    .animated-text span2{
        font-size:4.6vh;
        font-weight: bolder;
        -webkit-text-stroke-width: 1.4px; 
        -webkit-text-stroke-color: black;
    }
    .animated-text p{
        font-size:2.6vh;
        margin-top:1.3vh;
    }
    .animated-text{
        position:absolute;
        left:4vw;
    }
    .major .right2{
        height:40vh;
        width:100%;
        background-color: white;}
    .imgwrapper{
        height:40vh;
        width:40vh;
    }
    .right2{
        margin-top:-4vh;
    }
    #footer .lefter t{
        display:none;
    }
    #footer .lefter span img{
        height:40px;
        width:40px;
        display:inline;
    }
    #footer .lefter span{
        padding:0;
        display: flex;
        align-items: center;
        justify-content: center;
        height:42px;
        width:42px;
        margin-right:5px;
    }
    .righter span{
        width:100vw;
        font-size: small;
    }
    .righter t{
        display:none;
    }

    }
